.container-hero {
	background-color: rgba(47, 48, 58, 0.4);
}
.hero {
	background-image: url("../images/work.jpg");
	max-width: 1600px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
}
.hero-title {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 44px;
	text-align: center;
	justify-content: center;
	line-height: 1.36;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 200px;
	padding-left: 310px;
	padding-right: 310px;
}